<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <span class="copy">© 2016 Bryggverket AB</span>
    </div>
    <div class="col-xs-6">
      <ul class="list-inline links">
        <li class="list-inline-item"><a id="elbrev" title="Elbrev"
                                        [href]="'mailto:' + ('urw@oelttirexrg.fr' | rot)"><i
          class="fa fa-fw fa-envelope"></i></a></li>
        <li class="list-inline-item"><a title="Facebook" href="https://facebook.com/Bryggverket"><i
          class="fa fa-fw fa-facebook-square"></i></a></li>
        <li class="list-inline-item"><a title="Twitter" href="https://twitter.com/bryggverket"><i
          class="fa fa-fw fa-twitter"></i></a></li>
        <li class="list-inline-item"><a title="Instagram" href="https://instagram.com/bryggverket"><i
          class="fa fa-fw fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</div>
