<bv-page title="Om Bryggverket">
  <p>
    I Stöcksjö, strax utanför Umeå ligger Bryggverket. Ett litet bryggeri startat av fyra killar som gillar öl.
    Förmodligen gillar de öl lite mer än de flesta eftersom de flesta inte startar ett litet bryggeri.
    Men det gjorde alltså Pontus, Albin, Peter och Patrik. De ville vara en del av den ölrenässans som pågår
    för fullt och bidra med det slags öl de själva gillar att dricka. Stora oväntade smaker som överraskar, likt
    trojanska humlehästar i käften. Och med de bästa råvarorna, ett visst mått nyfikenhet och en stor passion för
    hantverket så lyckades de göra just det. Och de har bara börjat.
  </p>
  <p>Norrland är omtyckt och omtalat över hela världen av många olika anledningar. Bryggverket kommer bli en av dem.</p>
  <p>Bryggverket är:</p>
  <bv-brewers [brewers]="brewers$ | async"></bv-brewers>
</bv-page>
