<bv-page title="Kontakta oss">
  <div class="row contact">
    <div class="col-sm-6">
      <h3>Elbrev</h3>
      <p><a [href]="'mailto:' + ('urw@oelttirexrg.fr' | rot)"><i
        class="fa fa-fw fa-envelope"></i> {{ ('urw@oelttirexrg.fr' | rot) }}</a></p>

      <h3>Snigelpost</h3>
      <p>
        Bryggverket<br>
        C/o Albin Stenberg<br>
        Soliststråket 5<br>
        903 53 Umeå</p>

      <h3>Besöksadress</h3>
      <p>
        Stöcksjö södra byväg 31<br>905 80 Umeå<br>
        <a href="https://goo.gl/maps/8LKhWvzpG5F2">Karta</a></p>

      <h3>Sociala medier</h3>
      <p>
        <strong><i class="fa fa-instagram fa-fw"></i> Instagram:</strong>
        <a title="Instagram" href="https://instagram.com/bryggverket">@bryggverket</a>
      </p>
      <p>
        <strong><i class="fa fa-facebook-square fa-fw"></i> Facebook:</strong>
        <a title="Facebook" href="https://facebook.com/Bryggverket">Bryggverket</a>
      </p>
      <p>
        <strong><i class="fa fa-twitter-square fa-fw"></i> Twitter:</strong>
        <a title="Twitter" href="https://twitter.com/bryggverket">@bryggverket</a>
      </p>
      <p>
        <strong><i class="fa fa-fw"><img style="width: 14px" src="assets/images/untappd.png"></i> Untappd:</strong>
        <a title="Untappd" href="https://untappd.com/Bryggverket">Bryggverket</a>
      </p>
    </div>
    <div class="col-sm-6">
      <img src="assets/images/flaskor.jpg" class="img-fluid">
      <div class="caption">Ölen måste förpackas också</div>
    </div>
  </div>
</bv-page>
